* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }

a {
    text-decoration: none;
}

.clearfix::before,.clearfix:after {
    content: "";
    display: table;
 }

.clearfix:after {
    clear:both;
 }

header {
    background-color: lightgoldenrodyellow;
    color:goldenrod;
    padding: 20px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

header h1 {
    margin: 0;
    font-size: 38px;
}

nav {
    background-color: #5b713b;
    display: flex;
    justify-content: right;   
}

nav a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24pt;
    text-decoration: none;
    color: orange;
    line-height: 2;
    display: inline-block;
    padding: 10px;      
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: thistle;
    text-decoration: underline;
}
  
main img {
    width:100%;
}

.text {
    float: left; 
    width: 50%;
    padding: 100px 10px 80px 100px; 
}

.image img {
    float:left;
    padding:20px 0px 20px 200px;
    width:600px;
}

h2 {
    font-size: 26px;
    font-style: italic;
    color:darkslategrey;
}

.text p {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: rgb(56, 54, 54);
    line-height: 1.5;
}

.text a {
    font-size: 26px;
    font-style: italic;
    color:orange;
}

.image1 img {
    float:left;
    padding: 30px 80px 40px 80px;
    width:600px;
}

.text1 {
    float: left; 
    width: 50%;
    padding: 100px 10px 80px 100px;
}

.text1 p {
    font-size: 24px;
    color: rgb(56, 54, 54);
    line-height: 1.5;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

footer {
    clear:left;
    background-color: #424141;
    color: lightgrey;
    padding: 15px;
    text-align: center; 
}

footer a {
    color:orange;
}

footer p {
    font-size: 18px;
    margin: 0;
    height: 26px;
}

